@font-face {
font-family: BF_Modernista;
font-style: normal;
font-weight: normal;
src: url('BF_Modernista-Regular.woff2')  format('woff2');
}

@font-face {
font-family: BF_Modernista;
font-style: italic;
font-weight: normal;
src: url('BF_Modernista-Regular.woff2')  format('woff2');
}

@font-face {
font-family: BF_Modernista;
font-style: bold;
font-weight: normal;
src: url('BF_Modernista-Regular.woff2')  format('woff2');
}
